<li>
    <a class="dropdown-item" asp-route-area="DuxCommerce.Storefront" asp-controller="YourOrders" asp-action="Index">
        <i class="fa-solid fa-person fa-fw" aria-hidden="true"></i> @T["Your account"]
    </a>
</li>