@model DuxCommerce.Storefront.Views.TaxZone.ViewModels.TaxRateVm

<h1>@T["Edit Rate"]</h1>

@await Html.PartialAsync("_BreadCrumbs", Model.BreadCrumbs)

<form asp-controller="TaxZone" asp-action="EditTaxRate" method="post">
    @await Html.PartialAsync("_TaxRate", Model)
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="TaxRates" asp-route-zoneId="@Model.ZoneId" class="btn btn-secondary">@T["Cancel"]</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </div>
</form>