@model DuxCommerce.Storefront.Views.TaxZone.ViewModels.TaxZoneVm

<h1>@T["Edit Zone"]</h1>
@await Html.PartialAsync("_ZoneLinks", Model.Links)
<form asp-controller="TaxZone" asp-action="EditZone" method="post">
    @await Html.PartialAsync("_TaxZone", Model)
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="Index" class="btn btn-secondary">@T["Cancel"]</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </div>
</form>