@using DuxCommerce.OrchardCore
@model DuxCommerce.Storefront.Views.Coupon.ViewModels.CouponVm

<style asp-name="@ResourceNames.StoreStyles"></style>

<h1>@T["Create Coupon"]</h1>
<form asp-controller="Coupon" asp-action="Create" method="post">
    @await Html.PartialAsync("_Coupon", Model)
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="Index" class="btn btn-secondary">@T["Cancel"]</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </div>
</form>