@model DuxCommerce.StoreBuilder.Shipping.Requests.ShippingRateModel

@{ Layout = null; }

<form asp-controller="ShippingProfile" asp-action="AddRate" method="post">
    @await Html.PartialAsync("_ShippingRate", Model)
    <div>
        <div>
            <input class="btn btn-primary float-end" type="submit" value="@T["Save"]"/>
        </div>
    </div>
</form>