@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DuxCommerce.Storefront.Views.SharedOption.ViewModels.SharedOptionChoiceVm

@{ Layout = null; }

<form asp-controller="SharedOption" asp-action="EditChoice" asp-route-optionId="@Model.Choice.OptionId" asp-route-choiceId="@Model.Choice.ChoiceId" method="post">
    <partial name="_Choice" for="Choice"/>
    <div>
        <input class="btn btn-primary float-end" type="submit" value="@T["Save"]"/>
    </div>
</form>