@model DuxCommerce.Storefront.Views.SharedOption.ViewModels.LinkedProductsVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>