@using DuxCommerce.OrchardCore
@model DuxCommerce.Storefront.Views.Promotion.ViewModels.PromotionVm

<style asp-name="@ResourceNames.StoreStyles"></style>

<h1>@T["Create Promotion"]</h1>
<form asp-controller="Promotion" asp-action="Create" method="post">
    @await Html.PartialAsync("_Promotion", Model)
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="Index" class="btn btn-secondary">@T["Cancel"]</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </div>
</form>